<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
        {% block stylesheets %}
            <style>
                body {
                    background-color: white !important;
                    color: black;
                }
            </style>
            <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
        {% endblock %}


        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const table = $('#tabla-tareas').DataTable({
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                        },
                        initComplete: function () {
                            this.api().columns().every(function (colIdx) {
                                const input = $('tfoot input[data-column="' + colIdx + '"]');
                                input.on('keyup change', function () {
                                    if (table.column(colIdx).search() !== this.value) {
                                        table.column(colIdx).search(this.value).draw();
                                    }
                                });
                            });
                        }
                    });
                });
            </script>
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
